apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
  namespace: devopscase
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
      - name: server
        image: devopscase-server:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: ATLAS_URI
          value: mongodb://mongo:27017
        ports:
        - containerPort: 5050
---
apiVersion: v1
kind: Service
metadata:
  name: server
  namespace: devopscase
spec:
  selector:
    app: server
  ports:
  - port: 5050
    targetPort: 5050
