name: CI - MERN (client + server)

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read
  packages: write

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set lowercase GHCR owner
        shell: bash
        run: echo "OWNER_LC=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build server image
        uses: docker/build-push-action@v6
        with:
          context: ./mern-project/server
          file: ./mern-project/server/Dockerfile
          push: false
          tags: |
            ghcr.io/${{ env.OWNER_LC }}/devopscase-server:ci

      - name: Build client image
        uses: docker/build-push-action@v6
        with:
          context: ./mern-project/client
          file: ./mern-project/client/Dockerfile
          push: false
          tags: |
            ghcr.io/${{ env.OWNER_LC }}/devopscase-client:ci

  k8s-validate:
    runs-on: ubuntu-latest
    needs: docker-build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install kubeconform
        run: |
          curl -L -o kubeconform.tar.gz https://github.com/yannh/kubeconform/releases/latest/download/kubeconform-linux-amd64.tar.gz
          tar -xzf kubeconform.tar.gz kubeconform
          sudo mv kubeconform /usr/local/bin/kubeconform
          kubeconform -v

      - name: Validate Kubernetes manifests (schema validation)
        run: |
          kubeconform -strict -ignore-missing-schemas -summary \
            -kubernetes-version 1.29.0 \
            k8s/namespace.yaml k8s/mongo.yaml k8s/server.yaml k8s/client.yaml

